$def with (email)
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Where is that ghost bus?</title>
  </head>
  <body>
    <h1>Welcome back!</h1>
    <h3>You're logged in as $email</h3>

    <form action="/results" method="GET">
      <label for="stop_id">Stop Code:</label>
      <input type="number" id="stop_id" name="stop_id" required /><br /><br />
      <label for="radius">Radius (km):</label>
      <input
        type="number"
        id="radius"
        name="radius"
        required
        min="1"
      /><br /><br />
      <input type="submit" value="Search" />
    </form>

    <p>Don't know the stop code?</p>
    <a href="/find_stop">Click here to search for a stop by name</a>
  </body>
</html>
